html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    position: relative
}

body {
    margin: 0;
    padding: 0
}

button {
    border: none
}

html {
    font-size: 16px
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-info .info-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.contact-info .info-item:hover .icon {
    background-color: bisque;
    color: white;
}

.contact-info .info-item .icon {
    width: 48px;
    height: 48px;
    border-radius: 50px;
    background-color: antiquewhite;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

svg {
    display: block;
}

.social-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.social-links a {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-links a svg {
    width: 22px;
    height: 22px;
}

.form-control {
    color: #fff;
    background-color: #fff;
    border: 1px solid #020101;
    padding: 12px 15px;
    font-size: 14px;
    border-radius: 5px;
    transition: 0.3s;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

/* Tablet và các thiết bị lớn hơn */

@media(max-width: 767px) {
    body {
        background-color: red !important;
    }
}

@media (min-width: 768px) {
    body {
        background-color: yellow !important;
    }

    html {
        font-size: 9.5px;
    }
}

@media (min-width: 1024px) {
    body {
        background-color: green !important;
    }
}

@media (min-width: 1280px) {
    body {
        background-color: rgb(114, 140, 114) !important;
    }

    .container {
        width: 1160px;
        padding: 0;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1140px;
        padding: 0;
    }
}