/* Reset and Base Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables for Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --text-secondary: #434242;
  --text-muted: #413e3e;
  --header-bg: #ffffff;
  --nav-link-color: #333333;
  --nav-link-hover: rgba(0, 0, 0, 0.1);
  --mobile-menu-bg: #ffffff;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --bg-color-button: rgba(0, 0, 0, 0.1);
  --li-border-color: rgba(0, 0, 0, 0.1);
  --color-border-primary: #c3c7cb;
  --transition: all 0.3s ease;

}

/* Dark Theme Variables */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --text-secondary: #c4c0c0;
  --text-muted: #9aa7a1;
  --header-bg: #161617;
  --nav-link-color: #f0f0f0;
  --nav-link-hover: rgba(255, 255, 255, 0.1);
  --mobile-menu-bg: #1e1e1e;
  --bg-color-button: #ffffff1a;
  --li-border-color: rgba(255, 255, 255, 0.1);
  --color-border-primary: #51565d;

}

html {
  font-size: 14px;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  padding-top: 50px;
  margin: 0;
  padding: 0;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}


button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: background-color 0.3s;
}

/** xử từng màn hình**/
.container {
  max-width: 100%;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 575px) {}

/* SM */
@media (min-width: 576px) {
  /* styles for small devices */
}

/* MD */

/* LG */
@media (min-width: 992px) {
  /* styles for large devices */
}

/* XL */
@media (min-width: 1200px) {
  /* styles for extra large devices */
}

/* XXL */
@media (min-width: 1400px) {
  /* styles for extra extra large devices */
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 990;
  height: 70px;
  box-sizing: border-box;
  background-color: var(--header-bg);
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.navigation-logo .logo,
.mobile-menu-header .logo {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 700;
  background: linear-gradient(to right, #63a4ff, #926beb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation-menu {
  visibility: hidden;
  height: 100%;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 4px;
}

.navigation-menu .nav-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4;
  transition: color 0.3s;
  padding: 4px 10px;
  border-radius: 8px;

}

.navigation-menu .nav-link:hover {
  background-color: var(--nav-link-hover)
}

.theme-switch {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.theme-switch svg {
  fill: var(--nav-link-color);
  vertical-align: middle
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
}

.toggle-menu svg {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.mobile-navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--mobile-menu-bg);
  height: 100vh;
  width: 280px;
  /* min-width: 280px; */
  padding: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-navigation.open {
  transform: translateX(0);
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.mobile-menu-header button {
  background-color: var(--bg-color-button);
  border-radius: 0.875rem;
  padding: 2px;
  transition: background-color 0.4s;
}

.mobile-menu-header button svg {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
}

.mobile-navigation-menu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-navigation-menu ul li {
  padding: 1.4rem 0;
  border-bottom: 1px solid var(--li-border-color);
}

.mobile-navigation-menu li:last-child {
  border-bottom: none;
}

.mobile-navigation-menu .nav-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4;
  transition: color 0.3s;
  padding: 2px;

}


@media (min-width: 768px) {
  .navigation-menu {
    visibility: visible
  }

  .toggle-menu {
    display: none;
  }

  body {
    padding-top: 70px;
  }
}

.skills {
  padding-top: 40px;
  display: flex;
}

.skill-item {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--color-border-primary);
  display: flex;
  flex-direction: column;
  height: 100%;
}

.skill-item .icon {
  color: #2124c4;
  background-color: transparent;
}

.skill-item .detail {
  padding-top: 1rem;
}

.skill-item .detail h3 {
  color: var(--text-color);
}

.skill-item .detail p {
  color: var(--text-muted);
  font-size: 16px;
  letter-spacing: 1.25;
}

.resume {
  padding: 40px 0;
}

.tab-content {

  /* padding-top: 60px; */
}

.nav .nav-link {
  /* display: flex;
  flex-direction: column;
  gap: 20px; */
}

.tab-lists .nav {
  gap: 20px;
  margin-bottom: 40px;
}

.nav-pills .nav-link {
  background-color: #ececec;
  box-shadow: var(--shadow);
  color: #1e1e1e;
}

.tab-lists .nav-link.resume-nav-link {
  padding: 1rem;
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  min-width: calc(100% - 15px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 60px;

}


.tab-lists svg {
  display: block;
  margin-right: 1rem;
  vertical-align: middle;
  color: inherit;
}



.accordion-body {
  background-color: inherit;
}

.accordion-button:not(.collapsed) {
  background-color: rgba(37, 99, 235, 0.05);

  box-shadow: none;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.125);
}

.accordion-item {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 12px !important;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: rgb(148, 141, 141);
}

.accordion-button {
  font-weight: 600;
  font-size: 1.1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.contact-info .info-item {
  display: flex;
  margin: 20px 0px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid var(--color-border-primary);
  gap: 40px;
}

.contact-info .info-item p {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;
  color: var(--text-muted);

}

.contact-info .info-item .icon {

  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-button);
}

.contact-info .info-item svg {

  display: block;
}

.form-data {
  /* background-color: #ffffff; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.form-data form {
  max-width: 500px;
  margin: 0 auto;
}

.form-control {
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  background-clip: padding-box;
  appearance: none;
  font-size: 16px;
  height: 44px;
  padding: 12px 10px;
  transition: border-color .2s ease-in-out;
  width: 100%;
  /* Tăng khoảng cách để trừ hao phần feedback */
  position: relative;
}


.form-control:focus {
  outline: none;
}

textarea {
  outline: none;
}

.invalid-feedback {
    display: block !important; /* Ghi đè display: none của Bootstrap */
    visibility: hidden;        /* Ẩn nội dung nhưng giữ chỗ */
    height: 5px;             /* Cố định chiều cao cụ thể */
    color: #dc3545;
    font-size: 0.875rem;
    margin-top: 0.25rem;
    font-size: 13px;

}

/* Hiển thị nội dung khi input có class .is-invalid */
.form-control.is-invalid ~ .invalid-feedback {
    visibility: visible;
      margin-bottom: 1.5rem;
}