body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    padding: 60px 0
}

@media (max-width: 479px) {
    body {
        background-color: aqua !important;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    body {
        background-color: red !important;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    body {
        background-color: yellow !important;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    body {
        background-color: green !important;
    }
}


@media (min-width: 1280px) and (max-width: 1599px) {}


.form-data {
    padding: 80px;
}

input:focus,
textarea:focus {
    box-shadow: none !important;
    outline: none !important;
}

 .form-error {
    min-height: 10px; 
    font-size: 0.875rem;
    color: #dc3545;
    margin-top: 0.25rem;
  }

  .section-title h2 {
    font-size: 2.5rem;
    font-weight: 700;
    position: relative;
    display: inline-block;
    padding-bottom: 40px;
  }

  .section-title h2::after {
   content: "";
    background: #dc3545;
    border-radius: 2px;
    width: 60px;
    height: 5px;
    position: absolute;
    left: 0;
    top: 50px;
    font-weight: 700;
   
  }