html {
    font-size: 10px
}

@media(max-width: 767px) {
    html {
        font-size: 8.5px
    }
}

@media(min-width: 768px) {
    html {
        font-size: 9px
    }
}

@media(min-width: 992px) {
    html {
        font-size: 9.5px
    }
}

@media(min-width: 1200px) {
    html {
        font-size: 10px
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

button {
    border: none
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    color: rgb(10, 9, 9)
}

.navbar {
    background-color: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    /* box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1); */
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    display: flex;
    align-items: center
}

.navbar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    min-height: 50px
}

.navbar-collapse {
    height: 100%;
    background-color: transparent;
    padding: 0
}

a.navbar-brand {
    font-size: 20px;
    display: block;
    font-weight: 700;
    line-height: 1.6;
    color: dimgray;
    display: block;
    outline: none
}

button.navbar-toggler {
    border: none;
    padding: 5px;
    height: 40px;
    width: 40px
}

button.navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid
}

@media (min-width: 1200px) {
    .container {
        width: 1160px;
        padding: 0
    }
}


@media (min-width: 1400px) {
    .container {
        width: 1140px
    }
}

/* .main-content {
    margin-top: 80px;
} */

.hero {
    min-height: 100vh
}

img {
    max-width: 100%;
    object-fit: contain;
    position: unset;
    max-width: 400px;
    max-height: 400px
}

