/* Reset and Base Styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables for Theme */
:root {
  --bg-color: #ffffff;
  --text-color: #333333;
  --text-muted: #413e3e;
  --header-bg: #ffffff;
  --nav-link-color: #333333;
  --nav-link-hover: rgba(0, 0, 0, 0.1);
  --mobile-menu-bg: #ffffff;
  --overlay-bg: rgba(0, 0, 0, 0.5);
  --shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  --bg-color-button: rgba(0, 0, 0, 0.1);
  --li-border-color: rgba(0, 0, 0, 0.1);
  --transition: all 0.3s ease;
  
}

/* Dark Theme Variables */
[data-theme="dark"] {
  --bg-color: #121212;
  --text-color: #f0f0f0;
  --text-muted: #9aa7a1;
  --header-bg: #161617;
  --nav-link-color: #f0f0f0;
  --nav-link-hover: rgba(255, 255, 255, 0.1);
  --mobile-menu-bg: #1e1e1e;
  --bg-color-button: #ffffff1a;
  --li-border-color: rgba(255, 255, 255, 0.1);

}

html {
  font-size: .875rem;
}

body {
  margin: 0;
  padding: 0
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
  padding-top: 50px;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease;
}

ul {
  list-style: none;
}

button {
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  color: inherit;
  transition: background-color 0.3s;
}

/** xử từng màn hình**/
.container {
  max-width: 1200px;
  width: inherit;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  box-sizing: border-box;
  margin: 0 auto;
  overflow: hidden;
}

@media (max-width: 575.98px) {
  body {}
}

/* SM */
@media (min-width: 576px) {
  /* styles for small devices */
}

/* MD */

/* LG */
@media (min-width: 992px) {
  /* styles for large devices */
}

/* XL */
@media (min-width: 1200px) {
  /* styles for extra large devices */
}

/* XXL */
@media (min-width: 1400px) {
  /* styles for extra extra large devices */
}


.header {
  background-color: var(--header-bg);
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.navigation-logo .logo,
.mobile-menu-header .logo {
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 700;
  background: linear-gradient(to right, #63a4ff, #926beb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navigation-menu {
  visibility: hidden;
  height: 100%;
}

.navigation-menu ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 4px;
}

.navigation-menu .nav-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.4;
  transition: color 0.3s;
  padding: 4px 10px;
  border-radius: 8px;

}

.navigation-menu .nav-link:hover {
  background-color: var(--nav-link-hover)
}

.theme-switch {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}

.theme-switch svg {
  fill: var(--nav-link-color);
  display: block
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: .8rem;
}

.toggle-menu svg {
  width: 30px;
  height: 30px;
}

.mobile-navigation {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  background-color: var(--mobile-menu-bg);
  height: 100vh;
  width: 280px;
  min-width: 280px;
  padding: 20px;
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-navigation.open {
  transform: translateX(0);
}

.mobile-menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.mobile-menu-header button {
  background-color: var(--bg-color-button);
  border-radius: 0.875rem;
  padding: 2px;
  transition: background-color 0.4s;
}

.mobile-menu-header button svg {
  display: block;
  width: 2.2rem;
  height: 2.2rem;
}

.mobile-navigation-menu ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.mobile-navigation-menu ul li {
  padding: 1.4rem 0;
  border-bottom: 1px solid var(--li-border-color);
}

.mobile-navigation-menu li:last-child {
  border-bottom: none;
}

.mobile-navigation-menu .nav-link {
  color: var(--nav-link-color);
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 1.4;
  transition: color 0.3s;
  padding: 2px;

}


@media (min-width: 768px) {
  .navigation-menu {
    visibility: visible
  }

  .toggle-menu {
    display: none;
  }

  body {
    padding-top: 70px;
  }
}

.hero-content .hero-title {
  font-family: 'Dancing Script', cursive;
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.8;

}

.hero .hero-buttons {
  font-size: 14px;
  margin-bottom: 2rem;
}

.hero .hero-description {
  font-size: 16px;
  color: var(--text-muted);
}

.image-wrapper img {}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  border-radius: 1rem;
}